colour-science
color_matcher
curl_cffi
markdownify
translators
mediapipe
opencv-contrib-python
insightface
onnxruntime
kornia
scipy
aiohttp
safetensors
tqdm
psutil
sageattention
diffusers
einops
timm
huggingface_hub
